.container{
    display: flex;
    position: relative;
    flex-direction: column;
    gap:60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    z-index: 1000;
}

.logo{
    background: #EEF7FC;
    border: dashed  #FFFFFF;
    box-sizing: border-box;
    border-radius: 12px;
}

.notificationWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}